body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    width: 400px;
    border: 0px solid #ccc;
    padding: 25px 30px 30px;
    background: #fff;
    border-radius: 0px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 8px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    color: #65696b;
    background-color: #fff;
    margin: 10px 0px;
}

label {
    color: #888;
    font-size: 13px;
}

button {
    float: right;
    background-color: #0AA1DD;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 0px;
    border: none;
}

button:hover {
    opacity: .7;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #fff;
}

.ca {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #444;
    margin-top: 20px;
}

.ca:hover {
    text-decoration: underline;
}








